body {
    background: linear-gradient(90deg,rgb(0,0,0),rgb(70,70,70),rgb(85, 85, 85)); /* defines a standard style for the body */
}

#wpp {
    height: 80%;
    width: 100%;
    margin: 2px;
    box-shadow: 0 0 100px 100px;
    border-image: 
      linear-gradient(
        to bottom, 
      ) 50 100%;
}


.module {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Zilla Slab Highlight', cursive;
    color: rgb(175, 177, 173);
    border-width: 10px;
    border-style: solid;
    padding: 3rem;
    border-image: 
      linear-gradient(
        to bottom, 
      ) 50 100%;
}

.module:before {
  content: "~ ";
}

.module:after {
  content:" ~"
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li{
  display: inline;
  margin-right:50px; /*UP RIGHT DOWN LEFT*/
}

nav a {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  transition: 0.5s;
}

nav a:hover {
  background: var(--clr);
  box-shadow: 0 0 35px var(--clr);
  text-decoration: underline;
  color: rgb(0, 0, 0);
}


h1 {
    font-weight: bold;
    font-size: 15px;
    font-family: 'Lekton', sans-serif;
    text-align:center;
    color: #e4e4e4;
    height: 80px;
    padding-top: 20px;
}

p {
    font-weight: bold;
    font-size: 15px;
    font-family: 'Lekton', sans-serif;
    text-align:center; /* defines a standard style for paragraphs */
    padding-top: 20px;
    color: #e4e4e4;
}

#mission {
    font-size:20px;
}

.location:before {
  content: "📌 ";
}

.location:after {
  content: " 📌";
}

.mapObject {
  box-shadow: 10px 10px 30px 20px rgb(0,0,0);
}

.mapObject {
  transition: 1s;
  opacity: 0.3;
}

.mapObject:hover {
  opacity: 1;
  transition: 1s;
}

#bottomPage {
    padding-top: 200px;
}