body {
    background: #000000; /* defines a standard style for the body */
}

#wpp {
    height: 80%;
    width: 100%;
    margin: 2px;
    box-shadow: 0 0 100px 100px;
    border-image: 
      linear-gradient(
        to bottom, 
      ) 50 100%;
}


.module {
    color: rgb(175, 177, 173);
    border-width: 10px;
    border-style: solid;
    padding: 3rem;
    border-image: 
      linear-gradient(
        to bottom, 
      ) 50 100%;
}

h1 {
    text-align:center;
    color: #e4e4e4;
    height: 80px;
    padding-top: 20px;
}

p {
    text-align:center; /* defines a standard style for paragraphs */
    padding-top: 20px;
    color: #e4e4e4;
}

#mission {
    font-size:20px;
}

#bottomPage {
    padding-top: 80px;
}