body {
    background: #CCCCCC; /* defines a standard style for the body */
}

p {
    text-align:center; /* defines a standard style for paragraphs */
}

strong em {
    color: red; /* defines a standard style for strong-em hierarchy */
}